.eventCard {
  background: #fff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.16);
  /* width: 360px; */
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  /* padding: 0 24px; */
  position: relative;
  overflow: hidden;
}

.eventCard:hover .eventImage {
  transform: scale(1.05);
  box-shadow: 0 8px 32px rgba(56, 182, 255, 0.25);
  z-index: 1;
}

.categoryItem {
  position: absolute;
  left: 0;
  top: 0;
  /* padding: 6px 32px 6px 12px; */
  padding-left: 12px;
  z-index: 2;
  background: #f1e6fc;
  /* clip-path: polygon(0 0, 110% 0, 95% 100%, 0% 100%); */
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 50px),
    calc(100% - 50px) 100%,
    0 100%
  );
  width: 60%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-weight: 400;
}

.categoryEmojis {
  font-size: 25px;
}

.categoryText {
  font-size: 1rem;
  color: #22223b;
  font-weight: 600;
}

.eventImage {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
  background: #eee;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.eventCard h2 {
  font-size: 1.35rem;
  font-weight: 700;
  color: #111;
  /* margin: 28px 24px 12px 24px; */
  line-height: 1.2;
}

.categoryEmojis p {
  margin: 0 18px 8px 18px;
  color: #444;
  font-size: 1rem;
}

.eventInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #444;
  font-size: 1.1rem;

  /* margin: 0 24px 8px 24px; */
}

.eventCardInfoContainer {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

.eventInfoIcon {
  font-size: 1.2rem;
  margin-right: 6px;
  color: #444;
}

.locationInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #888;
  font-size: 1.1rem;
  /* margin: 0 24px 0px 24px; */
}

.button {
  display: done;
}

.button:hover {
  border-bottom: 1px dotted black;
  font-weight: 600;
}

.footer {
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* text-align: right; */
  padding: 0.75rem 1.25rem;
  /* margin-top: 1rem; */
  /* margin-right: 1rem; */
}

@media (max-width: 375px) {
  .eventCard {
    width: 100%;
    margin: 12px 0;
    padding: 0 0 16px 0;
  }
  .eventImage {
    height: 120px;
  }
  h2 {
    font-size: 1rem;
    margin: 16px 12px 8px 12px;
  }
  p,
  .eventInfo,
  .locationInfo {
    font-size: 0.95rem;
    margin: 0 12px 6px 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .eventCard {
    width: 90%;
    margin: 18px auto;
    padding: 0 0 20px 0;
  }
  .eventImage {
    height: 180px;
  }
  h2 {
    font-size: 1.2rem;
    margin: 20px 18px 10px 18px;
  }
  p,
  .eventInfo,
  .locationInfo {
    font-size: 1rem;
    margin: 0 18px 7px 18px;
  }
}
