.eventCard {
  background: var(--bg);
  box-shadow: 0 8px 32px var(--card-shadow);
  width: 420px;
  display: flex;
  flex-direction: column;
  margin: 24px 16px;
  padding: 0 0 24px 0;
  position: relative;
  overflow: hidden;
}

.eventCard:hover {
  box-shadow: 0 8px 32px var(--card-shadow);
}

.categoryContainer {
  position: absolute;
  padding: 6px 32px 6px 0px;
  z-index: 2;
  background: #f1e6fc;
  clip-path: polygon(0 0, 110% 0, 95% 100%, 0% 100%);
  height: 40px;
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 400;
}

.categoryEmojis {
  font-size: 25px;
  margin-top: 3px;
}

.categoryText {
  font-size: 1rem;
  color: #22223b;
  font-weight: 600;
}

.eventImage {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
  background: #eee;
}

h2 {
  font-size: 1.45rem;
  font-weight: 700;
  color: #111;
  margin: 28px 24px 12px 24px;
  line-height: 1.2;
}

p {
  margin: 0 18px 8px 18px;
  color: #444;
  font-size: 1rem;
}

.eventInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #444;
  font-size: 1.1rem;
  margin: 0 24px 8px 24px;
}

.eventInfoIcon {
  font-size: 1.2rem;
  margin-right: 6px;
  color: #444;
}

.locationInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #888;
  font-size: 1.1rem;
  margin: 0 24px 0px 24px;
}

.button {
  display: done;
}

.footer {
  border-top: 1px solid #dbdbdb;
  text-align: right;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
