body {
  background-color: white;
}

.heroBannerWrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.categoryListContainer {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.eventCardContainer {
  display: flex;
  flex-wrap: wrap;
}
