@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans Hairline Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans ExtraLight Italic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans Light Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans Book Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans Bold Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans ExtraBold Italic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lydia Sans";
  src: url("/fonts/Lydia Sans Black Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-bg-dark: #151515;
  --color-bg-dark-all: #2d2a2a;
  --color-primary: #ffe600;
  --color-primary-hover: #ffffff;
  --color-text: #ffffff;
  --color-text-dark: white;
  --color-text-muted: #ffffffcc;
  --color-button-text: #26233c;
  --shadow-glow: 0 0 6px rgba(255, 255, 255, 0.8);
  --font-main: "Lydia Sans", sans-serif;
  --font-text-grey: #ffffff;
  --font-text-grey-strong: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: auto;
  font-family: var(--font-main, sans-serif);
  background-color: #151515;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

body.light-mode {
  --color-bg-dark-all: #ffffff;
  --color-text: #000000;
  --shadow-glow: 0 0 6px rgba(95, 93, 93, 0.8);
  --font-text-grey: #555;
  --font-text-grey-strong: #333;
  --color-text-dark: #000000;
}

body:not(.light-mode) input,
body:not(.light-mode) select,
body:not(.light-mode) textarea {
  background: var(--color-bg-dark);
  border: 1px solid #444;
}

body {
  background-color: var(--color-bg-dark-all);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: var(--shadow-glow);
}
