/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root {
  --color-bg-dark: #151515;
  --color-bg-dark-all: #2d2a2a;
  --color-primary: #ffe600;
  --color-primary-hover: #ffffff;
  --color-text: #ffffff;
  --color-text-dark: #000000;
  --color-text-muted: #ffffffcc;
  --color-button-text: #26233c;
  --shadow-glow: 0 0 6px rgba(255, 255, 255, 0.8);
  --font-main: "Lydia Sans", sans-serif;
  --font-text-grey: #ffffff;
  --font-text-grey-strong: #ffffff;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  height: auto;
  font-family: var(--font-main, sans-serif);
  background-color: #151515;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}
/* for light mood */
body.light-mode {
  --color-bg-dark-all: #ffffff;
  --color-text: #000000;
  --shadow-glow: 0 0 6px rgba(95, 93, 93, 0.8);
  --font-text-grey: #555;
  --font-text-grey-strong: #333;
}
body:not(.light-mode) input,
body:not(.light-mode) select,
body:not(.light-mode) textarea {
  background: var(--color-bg-dark);
  color: var(--color-text);
  border: 1px solid #444;
}

body {
  background-color: var(--color-bg-dark-all);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: var(--shadow-glow);
}
